body {
  font: 14px sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
}

h1 { 
  margin-top: 8px;
  margin-bottom: 6px;
}

#dashboard {
  margin: 50px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  opacity: 0.2;
}
.tick line { opacity: 0.1; }

.points {
  font-size: 2.8em;
  font-weight: bold;
  cursor: pointer;
  stroke-width: 2px;
}
.points:hover{
  stroke: #333;
}

.legend rect {
  cursor: pointer;
}
.title {
  width: 900px;
  margin-top: 15px;
  text-align: right;
}

#popup, #selectioninfo {
  display:none; 
  position: fixed;
  height: auto;
  border: 1px solid grey;
  border-radius: 4px;
  background: #eeeeee;
  text-align: center;
  padding: 4px;
  box-shadow: 3px 3px 5px #aaa;
}
#popup {
  width: 220px;
}
#selectioninfo {
  width: 170px;
  /*top: 400px;
  left: 1050px; */
}
#selectioninfo button {
  margin-top: 20px;
  margin-bottom: 10px;
}
#popup tr td:first-child, #selectioninfo tr td:first-child {
  min-width: 50%;
  font-size: 12px;
}
#popup tr td:last-child, #selectioninfo tr td:last-child {
  /*width: 40%;*/
  font-weight: bold;
}

.deselected .points, .deselected .legend rect{  
  opacity: 0.25;   /*  all this elements will be less visible if some of top containers has a .deselected class  */
}

#dashboard .selected .points, #dashboard .legend rect.selected{
  opacity: 1;    /* these elements remain with normal visibility */
}

.selectionrect {
  fill: #DD5555;
  opacity: 0.4;
}
.cohortcell{
  fill: #FFFFFF;
  stroke: #555555;
  stroke-width: 1px;
  cursor: pointer;
}
/*
.cohortcell rect.rectmask {

  opacity: 1;
  -webkit-transition: opacity 0.5s; 
  transition: opacity 0.5s;
}
.cohortcell rect.rectmask:hover {
  
  opacity: 0.1;
  -webkit-transition: opacity 0.5s; 
  transition: opacity 0.5s;
}*/