* {
	margin: 0;
	padding: 0;
	}

.error {
	color: red;
	display: block-inline;
	vertical-align: top;
	}

html {
	font-family: sans-serif;
	background-color: #ccc;
	overflow-y: scroll;
	}

body {
	}

#main-container {
	margin: 10px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: inset 0 2px 0 rgba(0,0,0,0.1);
	box-shadow: 0 0 2px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2);
	margin-bottom: 20px;
	}

#content {
	padding: 20px;
	}

table {
	border-collapse: collapse;
	}

table td, table th {
	border: 1px solid #ccc;
	padding: 4px;
	}
