<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% block head %}{% endblock %}
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="/static/styles.css">
		<link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/colorbox.css">
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<script type="text/javascript" src="/static/jquery-1.js"></script>
		<script type="text/javascript" src="/static/bootstrap.js"></script>
		<script type="text/javascript" src="/static/jquery.js"></script>
		<script type="text/javascript" src="/static/sorttable.js"></script>
		<script type="text/javascript" src="/static/d3.min.js"></script>
		<script type="text/javascript" src="/static/FileSaver.min.js"></script>
	</head>
	<body>
		<div id="main-container">
			<div id="content">
				<div id="menu">
					<a href="/">Home</a>
					<br /><br />
				</div>
				{% block content %}{% endblock %}
			</div>
		</div>
	</body>
</html>
