{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<form action="/upload" method="post" enctype="multipart/form-data">
	<div>
		<input type="file" name="file" id="file">
	</div>
	<button>Upload</button>
</form>
{% endblock %}
