{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}

<script type="text/javascript">
	var cohort_data = {{cohort_json|safe}};
	var retention_data = {{retention_json|safe}};
</script>


<h2>cohort data</h2>
<table>
	<tr>
		<th>start year</th>
		<th>start month</th>
		<th>order year</th>
		<th>order month</th>
		<th>sales</th>
		<th>customers</th>
	</tr>
	{% for row in cohort_data %}
		
		<tr>
			<td>{{row.start_year}}</td>
			<td>{{row.start_month}}</td>
			<td>{{row.order_year}}</td>
			<td>{{row.order_month}}</td>
			<td>{{row.sales or ''}}</td>
			<td>{{row.num_customers}}</td>
		</tr>
	{% endfor %}
</table>
<h2>retenion data</h2>
<table>
	<tr>
		<th>customer_name</th>
		<th>email</th>
		<th>total sales</th>
		<th>last order</th>
		<th>days since last order</th>
		<th>number of orders</th>
		<th>group</th>
		<th>group_name</th>
	</tr>
	{% for row in retention_data %}
		
		<tr>
			<td>{{row.cust_name}}</td>
			<td>{{row.email}}</td>
			<td>{{row.total_sales}}</td>
			<td>{{row.last_purchase_dt}}</td>
			<td>{{row.days_since_last_order}}</td>
			<td>{{row.num_orders}}</td>
			<td>{{row.group}}</td>
			<td>{{row.group_name}}</td>
		</tr>
	{% endfor %}
</table>



    <h2>Customer Analysis
	</h2>
    <hr>
    <div class="row">
        <ul id="tab" class="nav nav-tabs">
            <li role="presentation" class=""><a href="#dashboard">Retention</a></li>
            <li class="active" role="presentation"><a href="#experiments">Cohort Analysis</a></li>
        </ul>
        <br>
        <br>
        <div class="tab-content">
            <div id="dashboard" class="tab-pane fade">
                <div id="retention" class="row">
                </div>
            </div>
            <div id="experiments" class="tab-pane fade active in">
                <h2>Sales</h2>
                <div id="cohorttable" class="row">

                </div>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript">
    $(function() {
        $('#tab a').click(function(e) {
            e.preventDefault();
            $(this).tab('show');
        });
        $(".view").click(function() {
            $.colorbox({iframe:true,href: "analytics.html", width: "75%",height:"100%", innerHeight:"100%"});
        });
    });

</script>


<div id="popup">
  <table></table>
           
</div>

<div id="selectioninfo">
  <table></table>

  <button onclick="savedata();">Save data</button>
           
</div>

<script src="/static/retention.js"></script>
<script src="/static/cohort.js"></script>




<div style="display: none;" id="cboxOverlay"></div><div style="display: none;" tabindex="-1" role="dialog" class="" id="colorbox"><div id="cboxWrapper"><div><div style="float: left;" id="cboxTopLeft"></div><div style="float: left;" id="cboxTopCenter"></div><div style="float: left;" id="cboxTopRight"></div></div><div style="clear: left;"><div style="float: left;" id="cboxMiddleLeft"></div><div style="float: left;" id="cboxContent"><div style="float: left;" id="cboxTitle"></div><div style="float: left;" id="cboxCurrent"></div><button id="cboxPrevious" type="button"></button><button id="cboxNext" type="button"></button><button id="cboxSlideshow"></button><div style="float: left;" id="cboxLoadingOverlay"></div><div style="float: left;" id="cboxLoadingGraphic"></div></div><div style="float: left;" id="cboxMiddleRight"></div></div><div style="clear: left;"><div style="float: left;" id="cboxBottomLeft"></div><div style="float: left;" id="cboxBottomCenter"></div><div style="float: left;" id="cboxBottomRight"></div></div></div><div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div>



{% endblock %}
